:root {
    --color_negro: #000000;
    --color_blanco: #FFFFFF;
    --color_primario: #FFC107;
    --color_secundario: #0097A7;
    --color_gris: #757575;
    --fuente__principal: "Krub", sans-serif;
}

html {
    font-size: 62.5%;
    font-family: var(--fuente__principal);
    scroll-behavior: smooth;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    /* Como el 62.5% de 16 da 10, entonces 1rem = 10px */
    font-size: 16px;
}

a {
    text-decoration: none;
}

.titulo {
    text-align: center;
    font-size: 3.8rem;
}

.titulo span {
    font-size: 2rem;
}

.navegacion-bg {
    background-color: var(--color_secundario);
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

.navegacion-principal {
    display: flex;
    flex-direction: column;
    text-align: center;
}


@media (width>=768px) {
    .navegacion-principal {
        flex-direction: row;
        justify-content: space-between;
    }
}


.navegacion-principal a {
    color: var(--color_blanco);
    font-weight: bold;
    padding: 1rem 2rem;
    font-size: 2rem;
    transition: .3s all ease-in-out;
}

.navegacion-principal a:hover {
    background-color: var(--color_primario);
    color: var(--color_negro);
}

.hero {
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 45rem;
    padding: 2rem;
    position: relative;
}

.contenido-hero {
    position: absolute;
    background-color: rgb(0, 0, 0, 0.7);
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}