:root {
    --color_negro: #000000;
    --color_blanco: #FFFFFF;
    --color_primario: #FFC107;
    --color_secundario: #0097A7;
    --color_gris: #757575;
    --fuente__principal: "Krub", sans-serif;
}

/* Globales */
*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    font-family: var(--fuente__principal);
    font-size: 16px;
    /* Primero le pasamos la dirección ,luego color inferior, por ultimo color superior */
    background-image: linear-gradient(to top, #DFE9F3 0%, var(--color_blanco) 100%);
}

a {
    text-decoration: none;
}


.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

.sombra {
    box-shadow: 0px 5px 15px 0px rgba(112, 112, 112, 0.53);
    -webkit-box-shadow: 0px 5px 15px 0px rgba(112, 112, 112, 0.53);
    -moz-box-shadow: 0px 5px 15px 0px rgba(112, 112, 112, 0.53);
    background-color: var(--color_blanco);
    padding: 2rem;
    border-radius: 5px;
}

.boton {
    margin-top: 2rem;
    background-color: var(--color_secundario);
    color: var(--color_blanco);
    font-weight: bold;
    transition: .3s all ease-in-out;
    cursor: pointer;
    padding: 1rem 2rem;
    text-transform: uppercase;
    border-radius: 5px;
    width: 80%;
    text-align: center
}

@media (width>=768px) {
    .boton {
        width: auto;
    }
}

.boton:hover {
    background-color: #006f7b;
}


/* Headings */
h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 2.8rem;
}

h3 {
    font-size: 1.8rem;
}

h1,
h2,
h3 {
    text-align: center;
}


/* Titulo */
.titulo {
    text-align: center;
    font-size: 3.8rem;
}

.titulo span {
    font-size: 2rem;
}

/* Navegacion Principal */
.navegacion-bg {
    background-color: var(--color_secundario);
}


.navegacion-principal {
    display: flex;
    flex-direction: column;
    text-align: center;
}


@media (width>=768px) {
    .navegacion-principal {
        flex-direction: row;
        justify-content: space-between;
    }
}


.navegacion-principal a {
    color: var(--color_blanco);
    font-weight: bold;
    padding: 1rem 2rem;
    font-size: 2rem;
    transition: .3s all ease-in-out;
}

.navegacion-principal a:hover {
    background-color: var(--color_primario);
    color: var(--color_negro);
}

/* Hero */
.hero {
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 45rem;
    padding: 2rem;
    position: relative;
    margin-bottom: 2rem;
}

.contenido-hero {
    position: absolute;
    background-color: rgb(0, 0, 0, 0.7);
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenido-hero h2,
.contenido-hero p {
    color: var(--color_blanco);
}

.ubicacion {
    display: flex;
    align-items: flex-end;
}

/* .ubicacion p {
    margin: 0;
} */

/* SERVICIOSS */
.servicios {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

@media(width>=768px) {
    .servicios {
        grid-template-columns: repeat(3, 1fr);
    }
}

.servicio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.servicio h3 {
    color: var(--color_secundario);
    font-weight: lighter;
}

.servicio .icono {
    height: 15rem;
    width: 15rem;
    background-color: var(--color_primario);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.servicio p {
    line-height: 1.8;
}

/* CONTACTO */
.formulario {
    border-radius: 5px;
    background-color: var(--color_gris);
    padding: 2rem 2rem;
}

@media(width>=768px) {
    .formulario {
        width: 80%;
        margin: 0 auto;
    }
}

fieldset {
    border: none;
}

form legend {
    text-align: center;
    text-transform: uppercase;
    color: var(--color_primario);
    font-weight: bold;
    margin-bottom: 3rem;
    font-size: 2.2rem;
}

.campos {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.div_campos {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

@media (width>=768px) {
    .div_campos {
        flex-direction: row;
        gap: 2rem;
    }

    .div_campos div {
        width: 100%;

    }
}

.campo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

@media (width>=768px) {
    .campo {
        flex-direction: row;
    }

    .campo label {

        min-width: 70px
    }

    .campo input {
        width: 100%;
    }
}

.campo label {
    font-weight: bold;
    color: var(--color_blanco);
    cursor: pointer;
}

.campo input,
.campo textarea {
    width: 100%;
    padding: 1.5rem 1rem;
    border-radius: 0.5rem;
    border: none;
}



textarea {
    resize: none;
}

.formulario .boton {
    width: 100%;
    border: none;
    margin: 0;
}

@media (width>=768px) {
    .formulario .boton {
        display: flex;
        width: auto;
        justify-self: flex-end;

    }
}

/* FOOTER */

.footer__bg {
    background-image: linear-gradient(to bottom, #DFE9F3 0%, var(--color_secundario) 50%);
}

.footer {
    padding: 2rem 1rem;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media(width >= 768px){
    .footer{
        flex-direction: row;
        justify-content: space-between;
    }
}

.footer p {
    text-transform: capitalize;
    font-weight: bold;
    color: var(--color_blanco);
    font-size: 2rem;
}